<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.grape.lion.mapper.UserMapper">

<!--开启本mapper的namespace下的二级缓存 type：指定cache接口的实现类的类型，mybatis默认使用PerpetualCache;-->
    <!--要和ehcache整合，需要配置type为ehcache实现cache接口的类型-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
    <select id="findAll" resultType="cn.grape.lion.domain.User">
        SELECT * FROM user;
    </select>

</mapper>